language: android
jdk:
  - oraclejdk8
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
     - platform-tools
     - tools

    # The BuildTools version used by your project
     - build-tools-25.0.1

    # The SDK version used to compile your project
     - android-24
     - android-25

    # Additional components
     - add-on
     - extra

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
     - sys-img-armeabi-v7a-android-24

before_script:
   - echo no | android create avd --force -n test -t android-24 --abi armeabi-v7a
   - emulator -avd test -no-audio -no-window &
   - android-wait-for-emulator
   - adb shell input keyevent 82 &

script: sh .travis_script.sh

notifications:
  slack: myexpenses:FExuKgaFD3itm8F65dz2kjyT