<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">

	<module name="TreeWalker">
		<module name="AnnotationUseStyle" />
		<module name="AnonInnerLength">
			<property name="max" value="35"/>
		</module>
		<module name="ArrayTypeStyle" />
		<module name="AvoidEscapedUnicodeCharacters" />
		<module name="AvoidStarImport" />
		<module name="BooleanExpressionComplexity" />
		<module name="ClassDataAbstractionCoupling">
			<property name="max" value="15"/>
		</module>
		<module name="ClassFanOutComplexity">
			<property name="max" value="25"/>
		</module>
		<module name="ConstantName" />
		<module name="CovariantEquals" />
		<module name="CustomImportOrder" />
		<module name="CyclomaticComplexity">
			<property name="max" value="14"/>
		</module>
		<module name="DeclarationOrder" />
		<module name="DescendantToken" />
		<module name="EmptyBlock" />
		<module name="EmptyForInitializerPad" />
		<module name="EmptyForIteratorPad" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="ExecutableStatementCount">
			<property name="max" value="35"/>
		</module>
		<module name="FinalClass" />
		<module name="GenericWhitespace" />
		<module name="HiddenField">
			<property name="tokens" value="VARIABLE_DEF"/>
		</module>
	</module>

</module>