<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jonathanzanella.myexpenses">

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity android:name=".views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".account.EditAccountActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".account.ShowAccountActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".account.ListAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".source.EditSourceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".source.ShowSourceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".source.ListSourceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".card.EditCardActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".card.ShowCardActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".receipt.EditReceiptActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".receipt.ShowReceiptActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".expense.EditExpenseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".expense.ShowExpenseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".bill.EditBillActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
	    <activity
		    android:name=".bill.ShowBillActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".views.MainActivity"/>
	    <activity
		    android:name=".bill.ListBillActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".views.MainActivity"/>
        <activity
            android:name=".chargeable.ListChargeableActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.MainActivity"/>
	    <activity
		    android:name=".card.CreditCardInvoiceActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".views.MainActivity"/>
	    <service
		    android:name=".sync.SyncService"
		    android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
		    android:exported="true">
		    <intent-filter>
			    <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
		    </intent-filter>
		</service>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="07a4c4d5e08614e05c10c35cb7206293d380ced7" />

    </application>

</manifest>
