<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jonathanzanella.myexpenses">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".activities.EditAccountActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ShowAccountActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ListAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EditSourceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ShowSourceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ListSourceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EditCardActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ShowCardActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.EditReceiptActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ShowReceiptActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.EditExpenseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ShowExpenseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.EditBillActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
	    <activity
		    android:name=".activities.ShowBillActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".activities.MainActivity"/>
	    <activity
		    android:name=".activities.ListBillActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.ListChargeableActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity"/>
	    <activity
		    android:name=".activities.CreditCardInvoiceActivity"
		    android:screenOrientation="portrait"
		    android:parentActivityName=".activities.MainActivity"/>
        <service android:name=".services.CashierService"/>

    </application>

</manifest>
